/* screen - frame-167 */

.frame-167 {
  background-color: transparent;
  height: 232px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 351px;
}

.frame-167 .group-122-yffmxC {
  background-color: transparent;
  height: 232px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 333px;
}

.frame-167 .rectangle-167-yffmxC {
  background-color: transparent;
  height: 220px;
  left: 365px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 328px;
}
