/* screen - request-form-3 */

.request-form-3 {
  background-color: var(--white);
  height: 1201px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}

.request-form-3 .group-127-SdoR6a {
  background-color: transparent;
  height: 56px;
  left: 23px;
  position: absolute;
  top: 392px;
  width: 328px;
}

.request-form-3 .rectangle-151-uVtFXZ {
  background-color: var(--alabaster);
  border-radius: 5px;
  height: 56px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 328px;
}

.request-form-3 .mo_gnb-SdoR6a {
  background-color: var(--white);
  height: 60px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 45px;
  width: 375px;
}

.request-form-3 .rectangle-74-2Hx8WX {
  background-color: var(--white);
  height: 60px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 375px;
}

.request-form-3 .icon_24_hamburg-2Hx8WX {
  background-color: transparent;
  height: 24px;
  left: 327px;
  overflow: hidden;
  position: absolute;
  top: 18px;
  width: 24px;
}

.request-form-3 .hamburg-gmfbsF {
  background-color: transparent;
  height: 22px;
  left: 1px;
  position: relative;
  top: 1px;
  width: 22px;
}

.request-form-3 .rectangle-76-enIGU9 {
  background-color: var(--quincy);
  height: 4px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 4px;
}

.request-form-3 .rectangle-79-enIGU9 {
  background-color: var(--quincy);
  height: 4px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9px;
  width: 4px;
}

.request-form-3 .rectangle-82-enIGU9 {
  background-color: var(--quincy);
  height: 4px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 4px;
}

.request-form-3 .rectangle-77-enIGU9 {
  background-color: var(--quincy);
  height: 4px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 4px;
}

.request-form-3 .rectangle-80-enIGU9 {
  background-color: var(--quincy);
  height: 4px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9px;
  width: 4px;
}

.request-form-3 .rectangle-83-enIGU9 {
  background-color: var(--quincy);
  height: 4px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 4px;
}

.request-form-3 .rectangle-78-enIGU9 {
  background-color: var(--quincy);
  height: 4px;
  left: 18px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 4px;
}

.request-form-3 .rectangle-81-enIGU9 {
  background-color: var(--quincy);
  height: 4px;
  left: 18px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9px;
  width: 4px;
}

.request-form-3 .rectangle-84-enIGU9 {
  background-color: var(--quincy);
  height: 4px;
  left: 18px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 4px;
}

.request-form-3 .line-2-2Hx8WX {
  background-color: transparent;
  height: 1px;
  left: -288px;
  position: absolute;
  top: 60px;
  width: 1920px;
}

.request-form-3 .request-form-SdoR6a {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 129px;
  width: auto;
}

.request-form-3 .span697ub-9eaOxk {
}

.request-form-3 .ask-your-cafe-mentor-SdoR6a {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 19px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 179px;
  width: 271px;
}

.request-form-3 .spanwiolfj-r1n82M {
}

.request-form-3 .group-64-SdoR6a {
  background-color: transparent;
  height: 46px;
  left: 147px;
  position: absolute;
  top: 863px;
  width: 84px;
}

.request-form-3 .rectangle-65-xVHwCn {
  background-color: var(--gray-nurse);
  border-radius: 5px;
  height: 46px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.request-form-3 .submit-xVHwCn {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 18px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 14px;
  white-space: nowrap;
  width: auto;
}

.request-form-3 .span15d4y-G7Kor9 {
}

.request-form-3 .group-129-SdoR6a {
  background-color: transparent;
  height: 569px;
  left: 23px;
  position: absolute;
  top: 255px;
  width: 345px;
}

.request-form-3 .rectangle-151-8xUx39 {
  background-color: var(--alabaster);
  border-radius: 5px;
  height: 56px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 31px;
  width: 328px;
}

.request-form-3 .please-enter-your-phone-number-8xUx39 {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 157px;
  white-space: nowrap;
  width: auto;
}

.request-form-3 .spanv7tea-pAIOKF {
}

.request-form-3 .rectangle-151-skhoJC {
  background-color: var(--alabaster);
  border-radius: 5px;
  height: 56px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 241px;
  width: 328px;
}

.request-form-3 .rectangle-152-8xUx39 {
  background-color: var(--alabaster);
  border-radius: 5px;
  height: 56px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 513px;
  width: 328px;
}

.request-form-3 .danny-cafe-8xUx39 {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 261px;
  white-space: nowrap;
  width: auto;
}

.request-form-3 .spanvxvflk-g0vsdT {
}

.request-form-3 .please-list-the-subj-8xUx39 {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 530px;
  white-space: nowrap;
  width: auto;
}

.request-form-3 .spanigxk6-sloUes {
}

.request-form-3 .youngho-kim-8xUx39 {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 51px;
  white-space: nowrap;
  width: auto;
}

.request-form-3 .spanj2ldx-LNSb6R {
}

.request-form-3 .customer-name-8xUx39 {
  background-color: transparent;
  height: auto;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.request-form-3 .span26ytv-z20red {
}

.request-form-3 .icon_20_in-8xUx39 {
  background-color: transparent;
  height: 20px;
  left: 125px;
  position: absolute;
  top: 4px;
  width: 20px;
}

.request-form-3 .phone-number-8xUx39 {
  background-color: transparent;
  height: auto;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 105px;
  width: auto;
}

.request-form-3 .spanyfqy3k-XCV6t3 {
}

.request-form-3 .icon_20_in-skhoJC {
  background-color: transparent;
  height: 20px;
  left: 118px;
  position: absolute;
  top: 109px;
  width: 20px;
}

.request-form-3 .name-of-the-mentor-cafe-8xUx39 {
  background-color: transparent;
  height: auto;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 214px;
  width: auto;
}

.request-form-3 .spanck9xs-8Qn2mW {
}

.request-form-3 .icon_20_in-tFuxmc {
  background-color: transparent;
  height: 20px;
  left: 192px;
  position: absolute;
  top: 218px;
  width: 20px;
}

.request-form-3 .in-which-area-do-you-want-to-talk-about-8xUx39 {
  background-color: transparent;
  height: auto;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 323px;
  width: auto;
}

.request-form-3 .spandwgqf-CGnVPQ {
}

.request-form-3 .group-126-SdoR6a {
  background-color: transparent;
  height: 32px;
  left: 65px;
  position: absolute;
  top: 60px;
  width: 130px;
}

.request-form-3 .coffinsight-F5xwAy {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.request-form-3 .spanx7z2r-nfMux5 {
}

.request-form-3 .coffinsight_mo-footer-SdoR6a {
  background-color: var(--white);
  height: 242px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 959px;
  width: 375px;
}

.request-form-3 .rectangle-94-xtfzxf {
  background-color: transparent;
  height: 513px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 375px;
}

.request-form-3 .insta-xtfzxf {
  background-color: transparent;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 408px;
  width: 24px;
}

.request-form-3 .rectangle-71-cohbPH {
  background-color: var(--eerie-black);
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 24px;
}

.request-form-3 .group-126-5skxi5 {
  background-color: transparent;
  height: 32px;
  left: 65px;
  position: absolute;
  top: 977px;
  width: 130px;
}

.request-form-3 .coffinsight-g6Uvfp {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.request-form-3 .spana82tz-BYSv6V {
}

.request-form-3 .group-135-SdoR6a {
  background-color: transparent;
  height: 131px;
  left: 27px;
  position: absolute;
  top: 624px;
  width: 94px;
}

.request-form-3 .please-enter-your-phone-number-H2vfHy {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.request-form-3 .spanh0mxp-7TKxxR {
}

.request-form-3 .rectangle-216-H2vfHy {
  background-color: var(--white);
  height: 15px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 15px;
}

.request-form-3 .please-enter-your-phone-number-ww539P {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 29px;
  white-space: nowrap;
  width: auto;
}

.request-form-3 .spanytho5-5ilKLh {
}

.request-form-3 .rectangle-216-ww539P {
  background-color: var(--white);
  height: 15px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 30px;
  width: 15px;
}

.request-form-3 .please-enter-your-phone-number-klT3XD {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 58px;
  white-space: nowrap;
  width: auto;
}

.request-form-3 .spanulmgu-TNbHee {
}

.request-form-3 .rectangle-216-klT3XD {
  background-color: var(--white);
  height: 15px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 59px;
  width: 15px;
}

.request-form-3 .please-enter-your-phone-number-Ya8iTm {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 86px;
  white-space: nowrap;
  width: auto;
}

.request-form-3 .span4mst4g-RmxueM {
}

.request-form-3 .rectangle-216-Ya8iTm {
  background-color: var(--white);
  height: 15px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 87px;
  width: 15px;
}

.request-form-3 .please-enter-your-phone-number-iJ69pc {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 115px;
  white-space: nowrap;
  width: auto;
}

.request-form-3 .span1zocd-YZwxex {
}

.request-form-3 .rectangle-216-iJ69pc {
  background-color: var(--white);
  height: 15px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 116px;
  width: 15px;
}

.request-form-3 .vector-SdoR6a {
  background-color: transparent;
  height: 15px;
  left: 27px;
  mix-blend-mode: normal;
  position: absolute;
  top: 625px;
  width: 15px;
}

.request-form-3 .mask-group-SdoR6a {
  background-color: transparent;
  height: 30px;
  left: 27px;
  position: absolute;
  top: 60px;
  width: 29px;
}

.request-form-3 .mask-group-5skxi5 {
  background-color: transparent;
  height: 30px;
  left: 23px;
  position: absolute;
  top: 977px;
  width: 29px;
}
