* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_286 {
  width: 375px;
  height: 1420px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_288 {
  width: 72px;
  color: rgba(96,67,46,1);
  position: absolute;
  top: 135px;
  left: 24px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v1_289 {
  width: 271px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 179px;
  left: 24px;
  font-family: Apple SD Gothic Neo;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_290 {
  width: 154px;
  height: 200px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 309px;
  left: 24px;
  border: 1px solid rgba(229,232,235,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1_291 {
  width: 154px;
  height: 200px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 529px;
  left: 24px;
  border: 1px solid rgba(229,232,235,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1_292 {
  width: 154px;
  height: 200px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 749px;
  left: 24px;
  border: 1px solid rgba(229,232,235,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1_293 {
  width: 154px;
  height: 200px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 309px;
  left: 198px;
  border: 1px solid rgba(229,232,235,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1_294 {
  width: 154px;
  height: 200px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 529px;
  left: 198px;
  border: 1px solid rgba(229,232,235,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1_295 {
  width: 154px;
  height: 200px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 749px;
  left: 198px;
  border: 1px solid rgba(229,232,235,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1_296 {
  width: 154px;
  height: 120px;
  background: url("../images/v1_296.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 309px;
  left: 24px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}
.v1_297 {
  width: 154px;
  height: 120px;
  background: rgba(170,170,170,1);
  opacity: 1;
  position: absolute;
  top: 529px;
  left: 24px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}
.v1_298 {
  width: 154px;
  height: 120px;
  background: rgba(170,170,170,1);
  opacity: 1;
  position: absolute;
  top: 749px;
  left: 24px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}
.v1_299 {
  width: 154px;
  height: 120px;
  background: rgba(170,170,170,1);
  opacity: 1;
  position: absolute;
  top: 309px;
  left: 198px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}
.v1_300 {
  width: 154px;
  height: 120px;
  background: rgba(170,170,170,1);
  opacity: 1;
  position: absolute;
  top: 529px;
  left: 198px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}
.v1_301 {
  width: 154px;
  height: 120px;
  background: rgba(170,170,170,1);
  opacity: 1;
  position: absolute;
  top: 749px;
  left: 198px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}
.v1_302 {
  width: 83px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 439px;
  left: 36px;
  font-family: Apple SD Gothic Neo;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_303 {
  width: 106px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 659px;
  left: 36px;
  font-family: Apple SD Gothic Neo;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_304 {
  width: 99px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 879px;
  left: 36px;
  font-family: Apple SD Gothic Neo;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_305 {
  width: 79px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 439px;
  left: 210px;
  font-family: Apple SD Gothic Neo;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_307 {
  width: 85px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 659px;
  left: 210px;
  font-family: Apple SD Gothic Neo;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_308 {
  width: 120px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 879px;
  left: 210px;
  font-family: Apple SD Gothic Neo;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_309 {
  width: 130px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 463px;
  left: 36px;
  font-family: Apple SD Gothic Neo;
  font-weight: ExtraBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_310 {
  width: 130px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 683px;
  left: 36px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_311 {
  width: 130px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 903px;
  left: 36px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_312 {
  width: 130px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 683px;
  left: 210px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_313 {
  width: 130px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 903px;
  left: 210px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_314 {
  width: 49px;
  height: 26px;
  background: url("../images/v1_314.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 317px;
  left: 121px;
  overflow: hidden;
}
.v1_315 {
  width: 49px;
  height: 26px;
  background: rgba(255,36,36,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
}
.v1_316 {
  width: 27px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 11px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_317 {
  width: 49px;
  height: 26px;
  background: url("../images/v1_317.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 317px;
  left: 295px;
  overflow: hidden;
}
.v1_318 {
  width: 49px;
  height: 26px;
  background: rgba(255,36,36,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
}
.v1_319 {
  width: 27px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 11px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_320 {
  width: 82px;
  height: 46px;
  background: url("../images/v1_320.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 979px;
  left: 147px;
  overflow: hidden;
}
.v1_321 {
  width: 82px;
  height: 46px;
  background: rgba(234,234,234,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1_322 {
  width: 38px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 14px;
  left: 22px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_324 {
  width: 130px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 463px;
  left: 210px;
  font-family: Apple SD Gothic Neo;
  font-weight: ExtraBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_325 {
  width: 328px;
  height: 56px;
  background: url("../images/v1_325.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 233px;
  left: 24px;
  overflow: hidden;
}
.v1_326 {
  width: 328px;
  height: 56px;
  background: rgba(249,252,253,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_328 {
  width: 104px;
  color: rgba(174,174,174,1);
  position: absolute;
  top: 21px;
  left: 50px;
  font-family: Apple SD Gothic Neo;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v17_667 {
  width: 158px;
  height: 30px;
  background: url("../images/v17_667.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 65px;
  overflow: hidden;
}
.v17_668 {
  width: 158px;
  color: rgba(96,67,46,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Apple SD Gothic Neo;
  font-weight: Heavy;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v32_262 {
  width: 158px;
  height: 30px;
  background: url("../images/v32_262.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1205px;
  left: 65px;
  overflow: hidden;
}
.v32_263 {
  width: 158px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Apple SD Gothic Neo;
  font-weight: Heavy;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v65_481 {
  width: 29px;
  height: 30px;
  background: url("../images/v65_481.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 28px;
  overflow: hidden;
}
.v65_482 {
  width: 29px;
  height: 30px;
  background: url("../images/v65_482.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v65_483 {
  width: 42px;
  height: 31px;
  background: rgba(96,67,46,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  overflow: hidden;
}
.v65_512 {
  width: 29px;
  height: 30px;
  background: url("../images/v65_512.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1205px;
  left: 24px;
  overflow: hidden;
}
.v65_513 {
  width: 29px;
  height: 30px;
  background: url("../images/v65_513.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v65_514 {
  width: 42px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 12px;
  overflow: hidden;
}
