* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_413 {
  width: 375px;
  height: 4399px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_415 {
  width: 328px;
  height: 182px;
  background: rgba(250,250,250,1);
  opacity: 1;
  position: absolute;
  top: 3897px;
  left: 24px;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_418 {
  width: 36px;
  height: 36px;
  background: url("../images/v1_418.png");
  opacity: 1;
  position: absolute;
  top: 133px;
  left: 316px;
  border-radius: 50%;
}
.v1_419 {
  width: 328px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 221px;
  left: 24px;
  font-family: Apple SD Gothic Neo;
  font-weight: ExtraBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_420 {
  width: 117px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 191px;
  left: 24px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_421 {
  width: 119px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 273px;
  left: 24px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_422 {
  width: 270px;
  color: rgba(96,67,46,1);
  position: absolute;
  top: 302px;
  left: 23px;
  font-family: AppleSDGothicNeoB00;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_423 {
  width: 328px;
  height: 254px;
  background: url("../images/v1_423.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 359px;
  left: 24px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1_424 {
  width: 204px;
  height: 83px;
  background: url("../images/v1_424.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 503px;
  left: 111px;
  overflow: hidden;
}
.v1_425 {
  width: 204px;
  height: 83px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v1_426 {
  width: 87px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 12px;
  left: 72px;
  font-family: Apple SD Gothic Neo;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v1_427 {
  width: 102px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 29px;
  left: 72px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_428 {
  width: 84px;
  color: rgba(25,25,25,1);
  position: absolute;
  top: 55px;
  left: 72px;
  font-family: AppleSDGothicNeoB00;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_429 {
  width: 50px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1_430 {
  width: 328px;
  height: 147px;
  background: rgba(249,252,253,1);
  opacity: 1;
  position: absolute;
  top: 644px;
  left: 24px;
}
.v1_431 {
  width: 98px;
  height: 16px;
  background: url("../images/v1_431.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 662px;
  left: 39px;
  overflow: hidden;
}
.v1_432 {
  width: 47px;
  color: rgba(193,193,193,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_433 {
  width: 43px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 55px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_434 {
  width: 88px;
  height: 16px;
  background: url("../images/v1_434.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 691px;
  left: 39px;
  overflow: hidden;
}
.v1_435 {
  width: 37px;
  color: rgba(193,193,193,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_436 {
  width: 43px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 45px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_437 {
  width: 75px;
  height: 16px;
  background: url("../images/v1_437.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 723px;
  left: 39px;
  overflow: hidden;
}
.v1_438 {
  width: 23px;
  color: rgba(193,193,193,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_439 {
  width: 44px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 31px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_440 {
  width: 76px;
  height: 16px;
  background: url("../images/v1_440.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 755px;
  left: 39px;
  overflow: hidden;
}
.v1_441 {
  width: 24px;
  color: rgba(193,193,193,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_442 {
  width: 44px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 32px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_443 {
  width: 125px;
  height: 16px;
  background: url("../images/v1_443.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 662px;
  left: 176px;
  overflow: hidden;
}
.v1_444 {
  width: 49px;
  color: rgba(193,193,193,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_445 {
  width: 68px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 57px;
  font-family: AppleSDGothicNeoB00;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_446 {
  width: 161px;
  height: 16px;
  background: url("../images/v1_446.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 691px;
  left: 176px;
  overflow: hidden;
}
.v1_447 {
  width: 41px;
  color: rgba(193,193,193,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_448 {
  width: 112px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 49px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_449 {
  width: 142px;
  height: 16px;
  background: url("../images/v1_449.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 723px;
  left: 176px;
  overflow: hidden;
}
.v1_450 {
  width: 22px;
  color: rgba(193,193,193,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_451 {
  width: 112px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 30px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_452 {
  width: 153px;
  height: 16px;
  background: url("../images/v1_452.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 755px;
  left: 176px;
  overflow: hidden;
}
.v1_453 {
  width: 34px;
  color: rgba(193,193,193,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_454 {
  width: 111px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 42px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_455 {
  width: 328px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 907px;
  left: 24px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_456 {
  width: 328px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 2170px;
  left: 24px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_457 {
  width: 283px;
  color: rgba(96,67,46,1);
  position: absolute;
  top: 1892px;
  left: 24px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v1_458 {
  width: 160px;
  color: rgba(96,67,46,1);
  position: absolute;
  top: 2486px;
  left: 24px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v1_459 {
  width: 328px;
  height: 204px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 1942px;
  left: 24px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1_460 {
  width: 328px;
  height: 204px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 2536px;
  left: 24px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1_461 {
  width: 96px;
  height: 46px;
  background: url("../images/v1_461.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2928px;
  left: 139px;
  overflow: hidden;
}
.v1_462 {
  width: 96px;
  height: 46px;
  background: rgba(238,238,238,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1_463 {
  width: 26px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 14px;
  left: 36px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_464 {
  width: 15px;
  height: 18px;
  background: url("../images/v1_464.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2850px;
  left: 181px;
  overflow: hidden;
}
.v1_465 {
  width: 15px;
  color: rgba(96,67,46,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_467 {
  width: 146px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3152px;
  left: 118px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_468 {
  width: 104px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3281px;
  left: 24px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_469 {
  width: 205px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 3347px;
  left: 82px;
  font-family: Apple SD Gothic Neo;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_470 {
  width: 32px;
  height: 32px;
  background: url("../images/v1_470.png");
  opacity: 1;
  position: absolute;
  top: 3341px;
  left: 24px;
  border-radius: 50%;
}
.v1_471 {
  width: 286px;
  height: 80px;
  background: url("../images/v1_471.png");
  opacity: 1;
  position: absolute;
  top: 3337px;
  left: 66px;
  border: 1px solid rgba(224,224,224,1);
}
.v1_472 {
  width: 55px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3446px;
  left: 66px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_473 {
  width: 55px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3746px;
  left: 66px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_475 {
  width: 43px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3596px;
  left: 96px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_476 {
  width: 43px;
  color: rgba(126,86,57,1);
  position: absolute;
  top: 3923px;
  left: 96px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_477 {
  width: 164px;
  height: 15px;
  background: url("../images/v1_477.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3541px;
  left: 66px;
  overflow: hidden;
}
.v1_478 {
  width: 57px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Apple SD Gothic Neo;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_479 {
  width: 30px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 65px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_480 {
  width: 4px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 99px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_481 {
  width: 57px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 107px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_482 {
  width: 164px;
  height: 15px;
  background: url("../images/v1_482.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3689px;
  left: 96px;
  overflow: hidden;
}
.v32_281 {
  width: 164px;
  height: 15px;
  background: url("../images/v32_281.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v32_282 {
  width: 57px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Apple SD Gothic Neo;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v32_283 {
  width: 30px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 65px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v32_284 {
  width: 4px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 99px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v32_285 {
  width: 57px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 107px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_487 {
  width: 229px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 3471px;
  left: 66px;
  font-family: Apple SD Gothic Neo;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_488 {
  width: 229px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 3771px;
  left: 66px;
  font-family: Apple SD Gothic Neo;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_490 {
  width: 88px;
  height: 24px;
  background: url("../images/v1_490.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4120px;
  left: 144px;
  overflow: hidden;
}
.v1_491 {
  width: 24px;
  height: 24px;
  background: url("../images/v1_491.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_492 {
  width: 24px;
  height: 24px;
  background: rgba(234,234,234,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1_493 {
  width: 6px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 6px;
  left: 9px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_494 {
  width: 24px;
  height: 24px;
  background: url("../images/v1_494.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 32px;
  overflow: hidden;
}
.v1_495 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1_496 {
  width: 9px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_497 {
  width: 24px;
  height: 24px;
  background: url("../images/v1_497.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 64px;
  overflow: hidden;
}
.v1_498 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1_499 {
  width: 9px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_502 {
  width: 226px;
  color: url("../images/v1_502.png");
  position: absolute;
  top: 3621px;
  left: 96px;
  font-family: AppleSDGothicNeoL00;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_503 {
  width: 32px;
  height: 32px;
  background: url("../images/v1_503.png");
  opacity: 1;
  position: absolute;
  top: 3446px;
  left: 24px;
  border-radius: 50%;
}
.v1_504 {
  width: 32px;
  height: 32px;
  background: url("../images/v1_504.png");
  opacity: 1;
  position: absolute;
  top: 3746px;
  left: 24px;
  border-radius: 50%;
}
.v1_506 {
  width: 32px;
  height: 32px;
  background: url("../images/v1_506.png");
  opacity: 1;
  position: absolute;
  top: 3596px;
  left: 54px;
  border-radius: 50%;
}
.v1_507 {
  width: 32px;
  height: 32px;
  background: url("../images/v1_507.png");
  opacity: 1;
  position: absolute;
  top: 3917px;
  left: 54px;
  border-radius: 50%;
}
.v1_508 {
  width: 22px;
  color: rgba(96,67,46,1);
  position: absolute;
  top: 3281px;
  left: 134px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_509 {
  width: 54px;
  color: rgba(96,67,46,1);
  position: absolute;
  top: 3184px;
  left: 118px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_512 {
  width: 64px;
  height: 64px;
  background: url("../images/v1_512.png");
  opacity: 1;
  position: absolute;
  top: 3152px;
  left: 24px;
  border-radius: 50%;
}
.v1_513 {
  width: 35px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 3074px;
  left: 24px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_514 {
  width: 40px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 3074px;
  left: 102px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_515 {
  width: 14px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 3074px;
  left: 68px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_516 {
  width: 46px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 3074px;
  left: 146px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_517 {
  width: 328px;
  height: 204px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 1942px;
  left: 362px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_520 {
  width: 207px;
  height: 17px;
  background: url("../images/v1_520.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3860px;
  left: 66px;
  overflow: hidden;
}
.v1_521 {
  width: 65px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Apple SD Gothic Neo;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_522 {
  width: 30px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 2px;
  left: 106px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_523 {
  width: 7px;
  color: rgba(96,67,46,1);
  position: absolute;
  top: 0px;
  left: 94px;
  font-family: AppleSDGothicNeoB00;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_524 {
  width: 4px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 2px;
  left: 141px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_525 {
  width: 57px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 2px;
  left: 150px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_534 {
  width: 268px;
  height: 100px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3959px;
  left: 54px;
  border: 1px solid rgba(224,224,224,1);
}
.v1_535 {
  width: 200px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 3979px;
  left: 74px;
  font-family: Apple SD Gothic Neo;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_536 {
  width: 37px;
  color: rgba(126,86,57,1);
  position: absolute;
  top: 3999px;
  left: 280px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_537 {
  width: 37px;
  color: rgba(126,86,57,1);
  position: absolute;
  top: 3367px;
  left: 303px;
  font-family: AppleSDGothicNeoB00;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_539 {
  width: 328px;
  height: 46px;
  background: url("../images/v1_539.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 821px;
  left: 24px;
  overflow: hidden;
}
.v1_540 {
  width: 328px;
  height: 46px;
  background: rgba(96,67,46,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1_541 {
  width: 246px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 41px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v17_670 {
  width: 193px;
  height: 32px;
  background: url("../images/v17_670.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 30px;
  overflow: hidden;
}
.v17_671 {
  width: 158px;
  color: rgba(96,67,46,1);
  position: absolute;
  top: 2px;
  left: 35px;
  font-family: Apple SD Gothic Neo;
  font-weight: Heavy;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v65_478 {
  width: 29px;
  height: 30px;
  background: url("../images/v65_478.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v65_479 {
  width: 29px;
  height: 30px;
  background: url("../images/v65_479.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v65_480 {
  width: 42px;
  height: 31px;
  background: rgba(96,67,46,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v32_312 {
  width: 158px;
  height: 30px;
  background: url("../images/v32_312.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4228px;
  left: 65px;
  overflow: hidden;
}
.v32_313 {
  width: 158px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Apple SD Gothic Neo;
  font-weight: Heavy;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v55_1157 {
  width: 29px;
  height: 30px;
  background: url("../images/v55_1157.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2819px;
  left: 174px;
  overflow: hidden;
}
.v55_1148 {
  width: 29px;
  height: 30px;
  background: url("../images/v55_1148.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v55_1154 {
  width: 42px;
  height: 31px;
  background: rgba(96,67,46,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  overflow: hidden;
}
.v55_1172 {
  width: 16px;
  height: 17px;
  background: url("../images/v55_1172.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3860px;
  left: 139px;
  overflow: hidden;
}
.v55_1173 {
  width: 16px;
  height: 17px;
  background: url("../images/v55_1173.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v55_1174 {
  width: 23px;
  height: 17px;
  background: rgba(96,67,46,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 5px;
  overflow: hidden;
}
.v65_515 {
  width: 29px;
  height: 30px;
  background: url("../images/v65_515.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4228px;
  left: 24px;
  overflow: hidden;
}
.v65_516 {
  width: 29px;
  height: 30px;
  background: url("../images/v65_516.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v65_517 {
  width: 42px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 12px;
  overflow: hidden;
}
