* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v114_831 {
  width: 375px;
  height: 4399px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v114_832 {
  width: 328px;
  height: 182px;
  background: rgba(250,250,250,1);
  opacity: 1;
  position: absolute;
  top: 3897px;
  left: 24px;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v114_835 {
  width: 36px;
  height: 36px;
  background: url("../images/v114_835.png");
  opacity: 1;
  position: absolute;
  top: 133px;
  left: 316px;
  border-radius: 50%;
}
.v114_836 {
  width: 328px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 221px;
  left: 24px;
  font-family: Apple SD Gothic Neo;
  font-weight: ExtraBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v114_837 {
  width: 117px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 191px;
  left: 24px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v114_838 {
  width: 119px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 273px;
  left: 24px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v114_839 {
  width: 270px;
  color: rgba(96,67,46,1);
  position: absolute;
  top: 302px;
  left: 23px;
  font-family: AppleSDGothicNeoB00;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v114_840 {
  width: 328px;
  height: 254px;
  background: url("../images/v114_840.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 359px;
  left: 24px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v114_847 {
  width: 328px;
  height: 147px;
  background: rgba(249,252,253,1);
  opacity: 1;
  position: absolute;
  top: 644px;
  left: 24px;
}
.v114_848 {
  width: 98px;
  height: 16px;
  background: url("../images/v114_848.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 662px;
  left: 39px;
  overflow: hidden;
}
.v114_849 {
  width: 47px;
  color: rgba(193,193,193,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v114_850 {
  width: 43px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 55px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v114_851 {
  width: 88px;
  height: 16px;
  background: url("../images/v114_851.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 691px;
  left: 39px;
  overflow: hidden;
}
.v114_852 {
  width: 37px;
  color: rgba(193,193,193,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v114_853 {
  width: 43px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 45px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v114_854 {
  width: 75px;
  height: 16px;
  background: url("../images/v114_854.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 723px;
  left: 39px;
  overflow: hidden;
}
.v114_855 {
  width: 23px;
  color: rgba(193,193,193,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v114_856 {
  width: 44px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 31px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v114_857 {
  width: 76px;
  height: 16px;
  background: url("../images/v114_857.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 755px;
  left: 39px;
  overflow: hidden;
}
.v114_858 {
  width: 24px;
  color: rgba(193,193,193,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v114_859 {
  width: 44px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 32px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v114_860 {
  width: 125px;
  height: 16px;
  background: url("../images/v114_860.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 662px;
  left: 176px;
  overflow: hidden;
}
.v114_861 {
  width: 49px;
  color: rgba(193,193,193,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v114_862 {
  width: 68px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 57px;
  font-family: AppleSDGothicNeoB00;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v114_863 {
  width: 161px;
  height: 16px;
  background: url("../images/v114_863.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 691px;
  left: 176px;
  overflow: hidden;
}
.v114_864 {
  width: 41px;
  color: rgba(193,193,193,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v114_865 {
  width: 112px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 49px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v114_866 {
  width: 142px;
  height: 16px;
  background: url("../images/v114_866.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 723px;
  left: 176px;
  overflow: hidden;
}
.v114_867 {
  width: 22px;
  color: rgba(193,193,193,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v114_868 {
  width: 112px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 30px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v114_869 {
  width: 153px;
  height: 16px;
  background: url("../images/v114_869.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 755px;
  left: 176px;
  overflow: hidden;
}
.v114_870 {
  width: 34px;
  color: rgba(193,193,193,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v114_871 {
  width: 111px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 42px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v114_872 {
  width: 328px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 907px;
  left: 24px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v114_873 {
  width: 328px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 2170px;
  left: 24px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v114_874 {
  width: 283px;
  color: rgba(96,67,46,1);
  position: absolute;
  top: 1892px;
  left: 24px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v114_875 {
  width: 160px;
  color: rgba(96,67,46,1);
  position: absolute;
  top: 2486px;
  left: 24px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v114_876 {
  width: 328px;
  height: 204px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 1942px;
  left: 24px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v114_877 {
  width: 328px;
  height: 204px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 2536px;
  left: 24px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v114_878 {
  width: 96px;
  height: 46px;
  background: url("../images/v114_878.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2928px;
  left: 139px;
  overflow: hidden;
}
.v114_879 {
  width: 96px;
  height: 46px;
  background: rgba(238,238,238,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v114_880 {
  width: 26px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 14px;
  left: 36px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v114_881 {
  width: 15px;
  height: 18px;
  background: url("../images/v114_881.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2850px;
  left: 181px;
  overflow: hidden;
}
.v114_882 {
  width: 15px;
  color: rgba(96,67,46,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v114_883 {
  width: 146px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3152px;
  left: 118px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v114_884 {
  width: 104px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3281px;
  left: 24px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v114_885 {
  width: 205px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 3347px;
  left: 82px;
  font-family: Apple SD Gothic Neo;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v114_886 {
  width: 32px;
  height: 32px;
  background: url("../images/v114_886.png");
  opacity: 1;
  position: absolute;
  top: 3341px;
  left: 24px;
  border-radius: 50%;
}
.v114_887 {
  width: 286px;
  height: 80px;
  background: url("../images/v114_887.png");
  opacity: 1;
  position: absolute;
  top: 3337px;
  left: 66px;
  border: 1px solid rgba(224,224,224,1);
}
.v114_888 {
  width: 55px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3446px;
  left: 66px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v114_889 {
  width: 55px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3746px;
  left: 66px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v114_890 {
  width: 43px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3596px;
  left: 96px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v114_891 {
  width: 43px;
  color: rgba(126,86,57,1);
  position: absolute;
  top: 3923px;
  left: 96px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v114_892 {
  width: 164px;
  height: 15px;
  background: url("../images/v114_892.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3541px;
  left: 66px;
  overflow: hidden;
}
.v114_893 {
  width: 57px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Apple SD Gothic Neo;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v114_894 {
  width: 30px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 65px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v114_895 {
  width: 4px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 99px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v114_896 {
  width: 57px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 107px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v114_897 {
  width: 164px;
  height: 15px;
  background: url("../images/v114_897.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3689px;
  left: 96px;
  overflow: hidden;
}
.v114_898 {
  width: 164px;
  height: 15px;
  background: url("../images/v114_898.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v114_899 {
  width: 57px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Apple SD Gothic Neo;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v114_900 {
  width: 30px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 65px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v114_901 {
  width: 4px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 99px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v114_902 {
  width: 57px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 107px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v114_903 {
  width: 229px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 3471px;
  left: 66px;
  font-family: Apple SD Gothic Neo;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v114_904 {
  width: 229px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 3771px;
  left: 66px;
  font-family: Apple SD Gothic Neo;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v114_905 {
  width: 88px;
  height: 24px;
  background: url("../images/v114_905.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4120px;
  left: 144px;
  overflow: hidden;
}
.v114_906 {
  width: 24px;
  height: 24px;
  background: url("../images/v114_906.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v114_907 {
  width: 24px;
  height: 24px;
  background: rgba(234,234,234,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v114_908 {
  width: 6px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 6px;
  left: 9px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v114_909 {
  width: 24px;
  height: 24px;
  background: url("../images/v114_909.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 32px;
  overflow: hidden;
}
.v114_910 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v114_911 {
  width: 9px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v114_912 {
  width: 24px;
  height: 24px;
  background: url("../images/v114_912.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 64px;
  overflow: hidden;
}
.v114_913 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v114_914 {
  width: 9px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v114_917 {
  width: 226px;
  color: url("../images/v114_917.png");
  position: absolute;
  top: 3621px;
  left: 96px;
  font-family: AppleSDGothicNeoL00;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v114_918 {
  width: 32px;
  height: 32px;
  background: url("../images/v114_918.png");
  opacity: 1;
  position: absolute;
  top: 3446px;
  left: 24px;
  border-radius: 50%;
}
.v114_919 {
  width: 32px;
  height: 32px;
  background: url("../images/v114_919.png");
  opacity: 1;
  position: absolute;
  top: 3746px;
  left: 24px;
  border-radius: 50%;
}
.v114_920 {
  width: 32px;
  height: 32px;
  background: url("../images/v114_920.png");
  opacity: 1;
  position: absolute;
  top: 3596px;
  left: 54px;
  border-radius: 50%;
}
.v114_921 {
  width: 32px;
  height: 32px;
  background: url("../images/v114_921.png");
  opacity: 1;
  position: absolute;
  top: 3917px;
  left: 54px;
  border-radius: 50%;
}
.v114_922 {
  width: 22px;
  color: rgba(96,67,46,1);
  position: absolute;
  top: 3281px;
  left: 134px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v114_923 {
  width: 54px;
  color: rgba(96,67,46,1);
  position: absolute;
  top: 3184px;
  left: 118px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v114_926 {
  width: 64px;
  height: 64px;
  background: url("../images/v114_926.png");
  opacity: 1;
  position: absolute;
  top: 3152px;
  left: 24px;
  border-radius: 50%;
}
.v114_927 {
  width: 35px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 3074px;
  left: 24px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v114_928 {
  width: 40px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 3074px;
  left: 102px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v114_929 {
  width: 14px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 3074px;
  left: 68px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v114_930 {
  width: 46px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 3074px;
  left: 146px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v114_931 {
  width: 328px;
  height: 204px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 1942px;
  left: 362px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v114_934 {
  width: 207px;
  height: 17px;
  background: url("../images/v114_934.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3860px;
  left: 66px;
  overflow: hidden;
}
.v114_935 {
  width: 65px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Apple SD Gothic Neo;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v114_936 {
  width: 30px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 2px;
  left: 106px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v114_937 {
  width: 7px;
  color: rgba(96,67,46,1);
  position: absolute;
  top: 0px;
  left: 94px;
  font-family: AppleSDGothicNeoB00;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v114_938 {
  width: 4px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 2px;
  left: 141px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v114_939 {
  width: 57px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 2px;
  left: 150px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v114_940 {
  width: 268px;
  height: 100px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3959px;
  left: 54px;
  border: 1px solid rgba(224,224,224,1);
}
.v114_941 {
  width: 200px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 3979px;
  left: 74px;
  font-family: Apple SD Gothic Neo;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v114_942 {
  width: 37px;
  color: rgba(126,86,57,1);
  position: absolute;
  top: 3999px;
  left: 280px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v114_943 {
  width: 37px;
  color: rgba(126,86,57,1);
  position: absolute;
  top: 3367px;
  left: 303px;
  font-family: AppleSDGothicNeoB00;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v114_944 {
  width: 328px;
  height: 46px;
  background: url("../images/v114_944.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 821px;
  left: 24px;
  overflow: hidden;
}
.v114_945 {
  width: 328px;
  height: 46px;
  background: rgba(96,67,46,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v114_946 {
  width: 246px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 41px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v114_948 {
  width: 193px;
  height: 32px;
  background: url("../images/v114_948.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 30px;
  overflow: hidden;
}
.v114_949 {
  width: 158px;
  color: rgba(96,67,46,1);
  position: absolute;
  top: 2px;
  left: 35px;
  font-family: Apple SD Gothic Neo;
  font-weight: Heavy;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v114_950 {
  width: 29px;
  height: 30px;
  background: url("../images/v114_950.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v114_951 {
  width: 29px;
  height: 30px;
  background: url("../images/v114_951.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v114_952 {
  width: 42px;
  height: 31px;
  background: rgba(96,67,46,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v114_954 {
  width: 158px;
  height: 30px;
  background: url("../images/v114_954.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4228px;
  left: 65px;
  overflow: hidden;
}
.v114_955 {
  width: 158px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Apple SD Gothic Neo;
  font-weight: Heavy;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v114_956 {
  width: 29px;
  height: 30px;
  background: url("../images/v114_956.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2819px;
  left: 174px;
  overflow: hidden;
}
.v114_957 {
  width: 29px;
  height: 30px;
  background: url("../images/v114_957.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v114_958 {
  width: 42px;
  height: 31px;
  background: rgba(96,67,46,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  overflow: hidden;
}
.v114_959 {
  width: 16px;
  height: 17px;
  background: url("../images/v114_959.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3860px;
  left: 139px;
  overflow: hidden;
}
.v114_960 {
  width: 16px;
  height: 17px;
  background: url("../images/v114_960.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v114_961 {
  width: 23px;
  height: 17px;
  background: rgba(96,67,46,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 5px;
  overflow: hidden;
}
.v114_962 {
  width: 29px;
  height: 30px;
  background: url("../images/v114_962.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4228px;
  left: 24px;
  overflow: hidden;
}
.v114_963 {
  width: 29px;
  height: 30px;
  background: url("../images/v114_963.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v114_964 {
  width: 42px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 12px;
  overflow: hidden;
}
