* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_257 {
  width: 375px;
  height: 825px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_259 {
  width: 78px;
  color: rgba(96,67,46,1);
  position: absolute;
  top: 139px;
  left: 24px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v1_260 {
  width: 70px;
  color: rgba(96,67,46,1);
  position: absolute;
  top: 208px;
  left: 24px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v1_261 {
  width: 227px;
  color: rgba(96,67,46,1);
  position: absolute;
  top: 277px;
  left: 24px;
  font-family: Apple SD Gothic Neo;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v17_664 {
  width: 158px;
  height: 30px;
  background: url("../images/v17_664.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 65px;
  overflow: hidden;
}
.v17_665 {
  width: 158px;
  color: rgba(96,67,46,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Apple SD Gothic Neo;
  font-weight: Heavy;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v65_484 {
  width: 29px;
  height: 30px;
  background: url("../images/v65_484.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 30px;
  overflow: hidden;
}
.v65_485 {
  width: 29px;
  height: 30px;
  background: url("../images/v65_485.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v65_486 {
  width: 42px;
  height: 31px;
  background: rgba(96,67,46,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  overflow: hidden;
}
