/* screen - request-form-4 */

.request-form-4 {
  background-color: var(--white);
  height: 1201px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}

.request-form-4 .group-127-xcxCZ3 {
  background-color: transparent;
  height: 56px;
  left: 23px;
  position: absolute;
  top: 392px;
  width: 328px;
}

.request-form-4 .rectangle-151-uedlxH {
  background-color: var(--alabaster);
  border-radius: 5px;
  height: 56px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 328px;
}

.request-form-4 .mo_gnb-xcxCZ3 {
  background-color: var(--white);
  height: 60px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 45px;
  width: 375px;
}

.request-form-4 .rectangle-74-vfaZIW {
  background-color: var(--white);
  height: 60px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 375px;
}

.request-form-4 .icon_24_hamburg-vfaZIW {
  background-color: transparent;
  height: 24px;
  left: 327px;
  overflow: hidden;
  position: absolute;
  top: 18px;
  width: 24px;
}

.request-form-4 .hamburg-xm9DuY {
  background-color: transparent;
  height: 22px;
  left: 1px;
  position: relative;
  top: 1px;
  width: 22px;
}

.request-form-4 .rectangle-76-HaZNQb {
  background-color: var(--quincy);
  height: 4px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 4px;
}

.request-form-4 .rectangle-79-HaZNQb {
  background-color: var(--quincy);
  height: 4px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9px;
  width: 4px;
}

.request-form-4 .rectangle-82-HaZNQb {
  background-color: var(--quincy);
  height: 4px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 4px;
}

.request-form-4 .rectangle-77-HaZNQb {
  background-color: var(--quincy);
  height: 4px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 4px;
}

.request-form-4 .rectangle-80-HaZNQb {
  background-color: var(--quincy);
  height: 4px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9px;
  width: 4px;
}

.request-form-4 .rectangle-83-HaZNQb {
  background-color: var(--quincy);
  height: 4px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 4px;
}

.request-form-4 .rectangle-78-HaZNQb {
  background-color: var(--quincy);
  height: 4px;
  left: 18px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 4px;
}

.request-form-4 .rectangle-81-HaZNQb {
  background-color: var(--quincy);
  height: 4px;
  left: 18px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9px;
  width: 4px;
}

.request-form-4 .rectangle-84-HaZNQb {
  background-color: var(--quincy);
  height: 4px;
  left: 18px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 4px;
}

.request-form-4 .line-2-vfaZIW {
  background-color: transparent;
  height: 1px;
  left: -288px;
  position: absolute;
  top: 60px;
  width: 1920px;
}

.request-form-4 .request-form-xcxCZ3 {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 129px;
  width: auto;
}

.request-form-4 .span6029v-iobbzJ {
}

.request-form-4 .ask-your-cafe-mentor-xcxCZ3 {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 19px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 179px;
  width: 271px;
}

.request-form-4 .spanhprwv-nrz5ru {
}

.request-form-4 .group-64-xcxCZ3 {
  background-color: transparent;
  height: 46px;
  left: 147px;
  position: absolute;
  top: 863px;
  width: 84px;
}

.request-form-4 .rectangle-65-iMtZqI {
  background-color: var(--gray-nurse);
  border-radius: 5px;
  height: 46px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.request-form-4 .submit-iMtZqI {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 18px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 14px;
  white-space: nowrap;
  width: auto;
}

.request-form-4 .spany59dw-hwxsr4 {
}

.request-form-4 .group-129-xcxCZ3 {
  background-color: transparent;
  height: 569px;
  left: 23px;
  position: absolute;
  top: 255px;
  width: 345px;
}

.request-form-4 .rectangle-151-KMMxOA {
  background-color: var(--alabaster);
  border-radius: 5px;
  height: 56px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 31px;
  width: 328px;
}

.request-form-4 .please-enter-your-phone-number-KMMxOA {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 157px;
  white-space: nowrap;
  width: auto;
}

.request-form-4 .spanjjs8z-xK5Y8x {
}

.request-form-4 .rectangle-151-xhkkbZ {
  background-color: var(--alabaster);
  border-radius: 5px;
  height: 56px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 241px;
  width: 328px;
}

.request-form-4 .rectangle-152-KMMxOA {
  background-color: var(--alabaster);
  border-radius: 5px;
  height: 56px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 513px;
  width: 328px;
}

.request-form-4 .danny-cafe-KMMxOA {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 261px;
  white-space: nowrap;
  width: auto;
}

.request-form-4 .spanmn93qi-CQPB7s {
}

.request-form-4 .please-list-the-subj-KMMxOA {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 530px;
  white-space: nowrap;
  width: auto;
}

.request-form-4 .spantb3ac-aPyYES {
}

.request-form-4 .youngho-kim-KMMxOA {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 51px;
  white-space: nowrap;
  width: auto;
}

.request-form-4 .span6aglb-1JPBc7 {
}

.request-form-4 .customer-name-KMMxOA {
  background-color: transparent;
  height: auto;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.request-form-4 .spani3mf4-iu8olj {
}

.request-form-4 .icon_20_in-KMMxOA {
  background-color: transparent;
  height: 20px;
  left: 125px;
  position: absolute;
  top: 4px;
  width: 20px;
}

.request-form-4 .phone-number-KMMxOA {
  background-color: transparent;
  height: auto;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 105px;
  width: auto;
}

.request-form-4 .spangcrlm-L2qin8 {
}

.request-form-4 .icon_20_in-xhkkbZ {
  background-color: transparent;
  height: 20px;
  left: 118px;
  position: absolute;
  top: 109px;
  width: 20px;
}

.request-form-4 .name-of-the-mentor-cafe-KMMxOA {
  background-color: transparent;
  height: auto;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 214px;
  width: auto;
}

.request-form-4 .span6dn61-7JiRG0 {
}

.request-form-4 .icon_20_in-lPDG0i {
  background-color: transparent;
  height: 20px;
  left: 192px;
  position: absolute;
  top: 218px;
  width: 20px;
}

.request-form-4 .in-which-area-do-you-want-to-talk-about-KMMxOA {
  background-color: transparent;
  height: auto;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 323px;
  width: auto;
}

.request-form-4 .span6t4by-YKV1lB {
}

.request-form-4 .group-126-xcxCZ3 {
  background-color: transparent;
  height: 32px;
  left: 65px;
  position: absolute;
  top: 60px;
  width: 130px;
}

.request-form-4 .coffinsight-X7QoQS {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.request-form-4 .spanlghk7-fkIfoU {
}

.request-form-4 .coffinsight_mo-footer-xcxCZ3 {
  background-color: var(--white);
  height: 242px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 959px;
  width: 375px;
}

.request-form-4 .rectangle-94-GUCw01 {
  background-color: transparent;
  height: 513px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 375px;
}

.request-form-4 .insta-GUCw01 {
  background-color: transparent;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 408px;
  width: 24px;
}

.request-form-4 .rectangle-71-TkxF7i {
  background-color: var(--eerie-black);
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 24px;
}

.request-form-4 .group-126-jtDQ78 {
  background-color: transparent;
  height: 32px;
  left: 65px;
  position: absolute;
  top: 977px;
  width: 130px;
}

.request-form-4 .coffinsight-xo2xlv {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.request-form-4 .spanm03z-XbClxQ {
}

.request-form-4 .group-135-xcxCZ3 {
  background-color: transparent;
  height: 131px;
  left: 27px;
  position: absolute;
  top: 624px;
  width: 94px;
}

.request-form-4 .please-enter-your-phone-number-XD6Afr {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.request-form-4 .spanldn1j-Z4XxTJ {
}

.request-form-4 .rectangle-216-XD6Afr {
  background-color: var(--white);
  height: 15px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 15px;
}

.request-form-4 .please-enter-your-phone-number-SamjUB {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 29px;
  white-space: nowrap;
  width: auto;
}

.request-form-4 .span28b18-26SyY6 {
}

.request-form-4 .rectangle-216-SamjUB {
  background-color: var(--white);
  height: 15px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 30px;
  width: 15px;
}

.request-form-4 .please-enter-your-phone-number-xCJ8dQ {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 58px;
  white-space: nowrap;
  width: auto;
}

.request-form-4 .spancoq3z-ZGFz9P {
}

.request-form-4 .rectangle-216-xCJ8dQ {
  background-color: var(--white);
  height: 15px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 59px;
  width: 15px;
}

.request-form-4 .please-enter-your-phone-number-yFb4GV {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 86px;
  white-space: nowrap;
  width: auto;
}

.request-form-4 .spanung2k-yK8syx {
}

.request-form-4 .rectangle-216-yFb4GV {
  background-color: var(--white);
  height: 15px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 87px;
  width: 15px;
}

.request-form-4 .please-enter-your-phone-number-ep36Ag {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 115px;
  white-space: nowrap;
  width: auto;
}

.request-form-4 .spanx3i6h-wWrUhT {
}

.request-form-4 .rectangle-216-ep36Ag {
  background-color: var(--white);
  height: 15px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 116px;
  width: 15px;
}

.request-form-4 .vector-xcxCZ3 {
  background-color: transparent;
  height: 15px;
  left: 27px;
  mix-blend-mode: normal;
  position: absolute;
  top: 625px;
  width: 15px;
}

.request-form-4 .vector-jtDQ78 {
  background-color: transparent;
  height: 15px;
  left: 27px;
  mix-blend-mode: normal;
  position: absolute;
  top: 654px;
  width: 15px;
}

.request-form-4 .mask-group-xcxCZ3 {
  background-color: transparent;
  height: 30px;
  left: 27px;
  position: absolute;
  top: 60px;
  width: 29px;
}

.request-form-4 .mask-group-jtDQ78 {
  background-color: transparent;
  height: 30px;
  left: 23px;
  position: absolute;
  top: 977px;
  width: 29px;
}
