/* screen - story-in-detail-1 */

.story-in-detail-1 {
  background-color: var(--white);
  height: 4399px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}

.story-in-detail-1 .rectangle-164-uXwUU8 {
  background-color: transparent;
  height: 182px;
  left: 24px;
  mix-blend-mode: normal;
  position: absolute;
  top: 3897px;
  width: 328px;
}

.story-in-detail-1 .icon_24_back-uXwUU8 {
  background-color: transparent;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 139px;
  width: 24px;
}

.story-in-detail-1 .icon_24_back-RYYxiB {
  background-color: transparent;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 139px;
  width: 24px;
}

.story-in-detail-1 .mo_gnb-uXwUU8 {
  background-color: var(--white);
  height: 60px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 43px;
  width: 375px;
}

.story-in-detail-1 .rectangle-74-02iYSb {
  background-color: var(--white);
  height: 60px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 375px;
}

.story-in-detail-1 .icon_24_hamburg-02iYSb {
  background-color: transparent;
  height: 24px;
  left: 327px;
  overflow: hidden;
  position: absolute;
  top: 18px;
  width: 24px;
}

.story-in-detail-1 .hamburg-AnYMSd {
  background-color: transparent;
  height: 22px;
  left: 1px;
  position: relative;
  top: 1px;
  width: 22px;
}

.story-in-detail-1 .rectangle-76-PXdKFf {
  background-color: var(--quincy);
  height: 4px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 4px;
}

.story-in-detail-1 .rectangle-79-PXdKFf {
  background-color: var(--quincy);
  height: 4px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9px;
  width: 4px;
}

.story-in-detail-1 .rectangle-82-PXdKFf {
  background-color: var(--quincy);
  height: 4px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 4px;
}

.story-in-detail-1 .rectangle-77-PXdKFf {
  background-color: var(--quincy);
  height: 4px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 4px;
}

.story-in-detail-1 .rectangle-80-PXdKFf {
  background-color: var(--quincy);
  height: 4px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9px;
  width: 4px;
}

.story-in-detail-1 .rectangle-83-PXdKFf {
  background-color: var(--quincy);
  height: 4px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 4px;
}

.story-in-detail-1 .rectangle-78-PXdKFf {
  background-color: var(--quincy);
  height: 4px;
  left: 18px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 4px;
}

.story-in-detail-1 .rectangle-81-PXdKFf {
  background-color: var(--quincy);
  height: 4px;
  left: 18px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9px;
  width: 4px;
}

.story-in-detail-1 .rectangle-84-PXdKFf {
  background-color: var(--quincy);
  height: 4px;
  left: 18px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 4px;
}

.story-in-detail-1 .line-2-02iYSb {
  background-color: transparent;
  height: 1px;
  left: -288px;
  position: absolute;
  top: 60px;
  width: 1920px;
}

.story-in-detail-1 .unsplash_m6gy9o-hg-ii-uXwUU8 {
  background-color: transparent;
  height: 36px;
  left: 316px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 133px;
  width: 36px;
}

.story-in-detail-1 .start-with-why-cafe-uXwUU8 {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 221px;
  white-space: nowrap;
  width: 328px;
}

.story-in-detail-1 .spanxl7vb-B2dELb {
}

.story-in-detail-1 .parc15-incheon-uXwUU8 {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 191px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .span7qbq6-ZLWCUV {
}

.story-in-detail-1 .x22-04-18-monday-uXwUU8 {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 273px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .span6s994-SZHYJ8 {
}

.story-in-detail-1 .startup-success-cafe-experience-uXwUU8 {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 302px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spanhb8b8-SlyENZ {
}

.story-in-detail-1 .rectangle-99-uXwUU8 {
  background-color: transparent;
  height: 254px;
  left: 24px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 359px;
  width: 328px;
}

.story-in-detail-1 .product-info-box-uXwUU8 {
  background-color: transparent;
  height: 83px;
  left: 111px;
  position: absolute;
  top: 503px;
  width: 210px;
}

.story-in-detail-1 .rectangle-114-axYWDk {
  background-color: transparent;
  height: 83px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 204px;
}

.story-in-detail-1 .espresso-machine-axYWDk {
  background-color: transparent;
  color: var(--granite-gray);
  font-family: var(--font-family-abel);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .span9fuqh-fdAiSi {
  font-style: normal;
}

.story-in-detail-1 .slayer-espresso-axYWDk {
  background-color: transparent;
  color: var(--mine-shaft);
  font-family: var(--font-family-abel);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 29px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spanyvytd-cNcFIw {
  font-style: normal;
}

.story-in-detail-1 .x2230000-axYWDk {
  background-color: transparent;
  color: var(--eerie-black);
  font-family: var(--font-family-abel);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 55px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spansgpi2-3wIgiZ {
  font-style: normal;
}

.story-in-detail-1 .rectangle-115-axYWDk {
  background-color: transparent;
  height: 50px;
  left: 12px;
  mix-blend-mode: normal;
  position: absolute;
  top: 12px;
  width: 50px;
}

.story-in-detail-1 .rectangle-100-uXwUU8 {
  background-color: transparent;
  height: 147px;
  left: 24px;
  mix-blend-mode: normal;
  position: absolute;
  top: 644px;
  width: 328px;
}

.story-in-detail-1 .frame-3-uXwUU8 {
  background-color: transparent;
  height: 16px;
  left: 39px;
  position: absolute;
  top: 662px;
  width: 84px;
}

.story-in-detail-1 .location-WjGG9y {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spaniyrv9-1HhZup {
}

.story-in-detail-1 .incheon-WjGG9y {
  background-color: transparent;
  height: auto;
  left: 48px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spanupaw4-zDqqTU {
}

.story-in-detail-1 .frame-5-uXwUU8 {
  background-color: transparent;
  height: 16px;
  left: 39px;
  position: absolute;
  top: 691px;
  width: 81px;
}

.story-in-detail-1 .capital-HjHozW {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spanhkk1p-ckIlKe {
}

.story-in-detail-1 .x15000-HjHozW {
  background-color: transparent;
  height: auto;
  left: 41px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spanl0sejk-1cu9ri {
}

.story-in-detail-1 .frame-2-uXwUU8 {
  background-color: transparent;
  height: 16px;
  left: 39px;
  position: absolute;
  top: 723px;
  width: 63px;
}

.story-in-detail-1 .kids-Y3k88N {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spantbx9bf-fRDKpn {
}

.story-in-detail-1 .allowed-Y3k88N {
  background-color: transparent;
  height: auto;
  left: 28px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .span3hzki-tGSsG3 {
}

.story-in-detail-1 .frame-8-uXwUU8 {
  background-color: transparent;
  height: 16px;
  left: 39px;
  position: absolute;
  top: 755px;
  width: 65px;
}

.story-in-detail-1 .pets-P1vNXo {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spanj751g-Ms7Z0L {
}

.story-in-detail-1 .allowed-P1vNXo {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spangipcs-hdGmJK {
}

.story-in-detail-1 .frame-4-uXwUU8 {
  background-color: transparent;
  height: 16px;
  left: 176px;
  position: absolute;
  top: 662px;
  width: 109px;
}

.story-in-detail-1 .category-SWydYG {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spanmi9cif-YIqpe7 {
}

.story-in-detail-1 .dessert-cafe-SWydYG {
  background-color: transparent;
  height: auto;
  left: 49px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .span671bxf-Vps4al {
}

.story-in-detail-1 .frame-6-uXwUU8 {
  background-color: transparent;
  height: 16px;
  left: 176px;
  position: absolute;
  top: 691px;
  width: 161px;
}

.story-in-detail-1 .parking-WWVx1W {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spanmnomo-QnixMq {
}

.story-in-detail-1 .possible-WWVx1W {
  background-color: transparent;
  height: auto;
  left: 43px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 112px;
}

.story-in-detail-1 .spanc07qn-d9vPBb {
}

.story-in-detail-1 .frame-7-uXwUU8 {
  background-color: transparent;
  height: 16px;
  left: 176px;
  position: absolute;
  top: 723px;
  width: 140px;
}

.story-in-detail-1 .sns-FDnNSr {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spannxfxkg-oyaWFs {
}

.story-in-detail-1 .parc15-FDnNSr {
  background-color: transparent;
  height: auto;
  left: 28px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 112px;
}

.story-in-detail-1 .spanmi2qo-zXNR8H {
}

.story-in-detail-1 .frame-9-uXwUU8 {
  background-color: transparent;
  height: 16px;
  left: 176px;
  position: absolute;
  top: 755px;
  width: 147px;
}

.story-in-detail-1 .phone-p7V6K7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spanggkoj-uLJ2OU {
}

.story-in-detail-1 .x010-5018-1737-p7V6K7 {
  background-color: transparent;
  height: auto;
  left: 36px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 111px;
}

.story-in-detail-1 .spanm3lqj-J1BEG2 {
}

.story-in-detail-1 .the-first-reason-i-c-uXwUU8 {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 28px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 907px;
  width: 328px;
}

.story-in-detail-1 .spannr361-LxN6a7 {
}

.story-in-detail-1 .as-i-was-doing-it-al-uXwUU8 {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 28px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 2170px;
  width: 328px;
}

.story-in-detail-1 .spanawrk9-fMpAtp {
}

.story-in-detail-1 .how-did-you-overcome-uXwUU8 {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 34px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1892px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spanl38so-dWKvCX {
}

.story-in-detail-1 .interior-pictures-uXwUU8 {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 34px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 2486px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .span8wf49-d9Jqx2 {
}

.story-in-detail-1 .rectangle-101-uXwUU8 {
  background-color: transparent;
  height: 204px;
  left: 24px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1942px;
  width: 328px;
}

.story-in-detail-1 .rectangle-103-uXwUU8 {
  background-color: transparent;
  height: 204px;
  left: 24px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2536px;
  width: 328px;
}

.story-in-detail-1 .group-113-uXwUU8 {
  background-color: transparent;
  height: 46px;
  left: 139px;
  position: absolute;
  top: 2928px;
  width: 98px;
}

.story-in-detail-1 .rectangle-65-1PfENA {
  background-color: var(--gallery);
  border-radius: 5px;
  height: 46px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 96px;
}

.story-in-detail-1 .list-1PfENA {
  background-color: transparent;
  height: auto;
  left: 36px;
  letter-spacing: 0.00px;
  line-height: 18px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 14px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spani1sfbl-zbUuPT {
}

.story-in-detail-1 .group-114-uXwUU8 {
  background-color: transparent;
  height: 18px;
  left: 181px;
  position: absolute;
  top: 2850px;
  width: 19px;
}

.story-in-detail-1 .x15-wWFqqn {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spanqfjab-ih8PDF {
}

.story-in-detail-1 .parc15-incheon-RYYxiB {
  background-color: transparent;
  height: auto;
  left: 118px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3152px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spanl66mx-py3q0r {
}

.story-in-detail-1 .comment-uXwUU8 {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 26px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3281px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spang23as-sYfYIx {
}

.story-in-detail-1 .good-comments-makes-the-world-better-uXwUU8 {
  background-color: transparent;
  height: auto;
  left: 82px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3347px;
  width: 205px;
}

.story-in-detail-1 .spanm9ypq-5VNhFJ {
}

.story-in-detail-1 .unsplash_m6gy9o-hg-ii-RYYxiB {
  background-color: transparent;
  height: 32px;
  left: 24px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 3341px;
  width: 32px;
}

.story-in-detail-1 .rectangle-162-uXwUU8 {
  background-color: transparent;
  height: 80px;
  left: 66px;
  position: absolute;
  top: 3337px;
  width: 286px;
}

.story-in-detail-1 .tacohun-uXwUU8 {
  background-color: transparent;
  height: auto;
  left: 66px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3446px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spanofwpe-zCxRmz {
}

.story-in-detail-1 .rxdanny-uXwUU8 {
  background-color: transparent;
  height: auto;
  left: 66px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3746px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spanopvbeh-vhua2h {
}

.story-in-detail-1 .parc15-uXwUU8 {
  background-color: transparent;
  height: auto;
  left: 96px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3596px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spanas0d5-8azraJ {
}

.story-in-detail-1 .parc15-RYYxiB {
  background-color: transparent;
  height: auto;
  left: 96px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3923px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .span74t9a-vGTJeP {
}

.story-in-detail-1 .group-102-uXwUU8 {
  background-color: transparent;
  height: 15px;
  left: 66px;
  position: absolute;
  top: 3541px;
  width: 163px;
}

.story-in-detail-1 .x1-hour-ago-vpVTRT {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .span4hvdw-GzYUZb {
}

.story-in-detail-1 .likes-vpVTRT {
  background-color: transparent;
  height: auto;
  left: 65px;
  letter-spacing: 0.00px;
  line-height: 15px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spankn6xs-xxfI9j {
}

.story-in-detail-1 .text_label-vpVTRT {
  background-color: transparent;
  height: auto;
  left: 99px;
  letter-spacing: 0.00px;
  line-height: 15px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spana89ue-D5WcLC {
}

.story-in-detail-1 .comment-vpVTRT {
  background-color: transparent;
  height: auto;
  left: 107px;
  letter-spacing: 0.00px;
  line-height: 15px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spanzc3b3-qdhLmx {
}

.story-in-detail-1 .group-103-uXwUU8 {
  background-color: transparent;
  height: 15px;
  left: 96px;
  position: absolute;
  top: 3689px;
  width: 155px;
}

.story-in-detail-1 .group-102-KtJVIQ {
  background-color: transparent;
  height: 15px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 163px;
}

.story-in-detail-1 .x1-hour-ago-FhuSvE {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spanaq44x-xVb5b7 {
}

.story-in-detail-1 .likes-FhuSvE {
  background-color: transparent;
  height: auto;
  left: 65px;
  letter-spacing: 0.00px;
  line-height: 15px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spans4nfn-Rx3XqM {
}

.story-in-detail-1 .text_label-FhuSvE {
  background-color: transparent;
  height: auto;
  left: 99px;
  letter-spacing: 0.00px;
  line-height: 15px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spantxlir-7eCvs9 {
}

.story-in-detail-1 .comment-FhuSvE {
  background-color: transparent;
  height: auto;
  left: 107px;
  letter-spacing: 0.00px;
  line-height: 15px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .span73q4u-aJRBvP {
}

.story-in-detail-1 .it-is-amazing-that-y-uXwUU8 {
  background-color: transparent;
  height: auto;
  left: 66px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3471px;
  width: 229px;
}

.story-in-detail-1 .spanihsph-L37Nqg {
}

.story-in-detail-1 .good-story-overall-want-to-visit-you-uXwUU8 {
  background-color: transparent;
  height: auto;
  left: 66px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3771px;
  width: 229px;
}

.story-in-detail-1 .span4qv6k-P6kHX9 {
}

.story-in-detail-1 .group-112-uXwUU8 {
  background-color: transparent;
  height: 24px;
  left: 144px;
  position: absolute;
  top: 4120px;
  width: 88px;
}

.story-in-detail-1 .group-111-MVJ2xU {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 26px;
}

.story-in-detail-1 .rectangle-167-JPtbsL {
  background-color: var(--gray-nurse);
  border-radius: 5px;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 24px;
}

.story-in-detail-1 .x1-JPtbsL {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: 15px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spanrz1z5-xaFKNd {
}

.story-in-detail-1 .group-110-MVJ2xU {
  background-color: transparent;
  height: 24px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 26px;
}

.story-in-detail-1 .rectangle-168-qe4nku {
  background-color: var(--white);
  border-radius: 5px;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 24px;
}

.story-in-detail-1 .x2-qe4nku {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 15px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spany7sv7-mQsQJW {
}

.story-in-detail-1 .group-109-MVJ2xU {
  background-color: transparent;
  height: 24px;
  left: 64px;
  position: absolute;
  top: 0px;
  width: 26px;
}

.story-in-detail-1 .rectangle-169-a3GsN9 {
  background-color: var(--white);
  border-radius: 5px;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 24px;
}

.story-in-detail-1 .x3-a3GsN9 {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 15px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spanu1ytn-byRpHa {
}

.story-in-detail-1 .icon_24_page_pre-uXwUU8 {
  background-color: transparent;
  height: 24px;
  left: 100px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4120px;
  width: 24px;
}

.story-in-detail-1 .rectangle-167-ENKeWO {
  background-color: var(--white);
  border-radius: 5px;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 24px;
}

.story-in-detail-1 .rectangle-92-ENKeWO {
  background-color: transparent;
  height: 1px;
  left: 8px;
  position: absolute;
  top: 7px;
  width: 1px;
}

.story-in-detail-1 .icon_24_page_next-uXwUU8 {
  background-color: transparent;
  height: 24px;
  left: 252px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4121px;
  width: 24px;
}

.story-in-detail-1 .rectangle-167-HAU0BB {
  background-color: var(--white);
  border-radius: 5px;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 24px;
}

.story-in-detail-1 .rectangle-92-HAU0BB {
  background-color: transparent;
  height: 10px;
  left: 6px;
  position: absolute;
  top: 7px;
  width: 10px;
}

.story-in-detail-1 .tacohun-thanks-for-t-uXwUU8 {
  background-color: transparent;
  height: auto;
  left: 96px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3621px;
  width: 226px;
}

.story-in-detail-1 .span0-EcY7ez {
}

.story-in-detail-1 .span1-EcY7ez {
}

.story-in-detail-1 .span2-EcY7ez {
}

.story-in-detail-1 .span5oglh-EcY7ez {
}

.story-in-detail-1 .unsplash3-t-ll_97-hn-jo-uXwUU8 {
  background-color: transparent;
  height: 32px;
  left: 24px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 3446px;
  width: 32px;
}

.story-in-detail-1 .unsplash3-t-ll_97-hn-jo-RYYxiB {
  background-color: transparent;
  height: 32px;
  left: 24px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 3746px;
  width: 32px;
}

.story-in-detail-1 .unsplash3-t-ll_97-hn-jo-1pVFDd {
  background-color: transparent;
  height: 32px;
  left: 54px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 3596px;
  width: 32px;
}

.story-in-detail-1 .unsplash3-t-ll_97-hn-jo-PxYQfM {
  background-color: transparent;
  height: 32px;
  left: 54px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 3917px;
  width: 32px;
}

.story-in-detail-1 .x15-uXwUU8 {
  background-color: transparent;
  height: auto;
  left: 134px;
  letter-spacing: 0.00px;
  line-height: 26px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3281px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .span9a70r-iY5Zvh {
}

.story-in-detail-1 .follow-uXwUU8 {
  background-color: transparent;
  height: auto;
  left: 118px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3184px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .span9v9ud-fgSNXd {
}

.story-in-detail-1 .line-11-uXwUU8 {
  background-color: transparent;
  height: 1px;
  left: 24px;
  position: absolute;
  top: 3122px;
  width: 328px;
}

.story-in-detail-1 .line-12-uXwUU8 {
  background-color: transparent;
  height: 1px;
  left: 24px;
  position: absolute;
  top: 3251px;
  width: 328px;
}

.story-in-detail-1 .unsplash_m6gy9o-hg-ii-1pVFDd {
  background-color: transparent;
  height: 64px;
  left: 24px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 3152px;
  width: 64px;
}

.story-in-detail-1 .likes-uXwUU8 {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 28px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3074px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spanlnq9h-IMCMXh {
}

.story-in-detail-1 .views-uXwUU8 {
  background-color: transparent;
  height: auto;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 28px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3074px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spanzo1yc-PxK4Kb {
}

.story-in-detail-1 .x15-RYYxiB {
  background-color: transparent;
  height: auto;
  left: 68px;
  letter-spacing: 0.00px;
  line-height: 28px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3074px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spanx8bc-kxip4N {
}

.story-in-detail-1 .x35980-uXwUU8 {
  background-color: transparent;
  height: auto;
  left: 146px;
  letter-spacing: 0.00px;
  line-height: 28px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3074px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spantdyzo-yxQPz0 {
}

.story-in-detail-1 .rectangle-102-uXwUU8 {
  background-color: transparent;
  height: 204px;
  left: 362px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1942px;
  width: 328px;
}

.story-in-detail-1 .icon_24_pre-uXwUU8 {
  background-color: transparent;
  height: 24px;
  left: 152px;
  overflow: hidden;
  position: absolute;
  top: 2752px;
  transform: rotate(-180deg);
  width: 24px;
}

.story-in-detail-1 .ellipse-6-qSZPYx {
  background-color: var(--gallery);
  border-radius: 12px;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  transform: rotate(-180deg);
  width: 24px;
}

.story-in-detail-1 .rectangle-92-qSZPYx {
  background-color: transparent;
  height: 12px;
  left: 4px;
  position: absolute;
  top: 6px;
  width: 12px;
}

.story-in-detail-1 .icon_24_next-uXwUU8 {
  background-color: transparent;
  height: 24px;
  left: 200px;
  overflow: hidden;
  position: absolute;
  top: 2752px;
  width: 24px;
}

.story-in-detail-1 .ellipse-6-RRfaDV {
  background-color: var(--gallery);
  border-radius: 12px;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 24px;
}

.story-in-detail-1 .rectangle-92-RRfaDV {
  background-color: transparent;
  height: 12px;
  left: 4px;
  position: absolute;
  top: 6px;
  width: 12px;
}

.story-in-detail-1 .group-105-uXwUU8 {
  background-color: transparent;
  height: 17px;
  left: 66px;
  position: absolute;
  top: 3860px;
  width: 208px;
}

.story-in-detail-1 .x2-hours-ago-WhzEIF {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spanrvc0o-A7aqf1 {
}

.story-in-detail-1 .likes-WhzEIF {
  background-color: transparent;
  height: auto;
  left: 106px;
  letter-spacing: 0.00px;
  line-height: 15px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spankj963-CtvBJE {
}

.story-in-detail-1 .x7-WhzEIF {
  background-color: transparent;
  height: auto;
  left: 94px;
  letter-spacing: 0.00px;
  line-height: 15px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .span1sydt-vcCkFx {
}

.story-in-detail-1 .text_label-WhzEIF {
  background-color: transparent;
  height: auto;
  left: 141px;
  letter-spacing: 0.00px;
  line-height: 15px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spantdegx-7sLKnw {
}

.story-in-detail-1 .comment-WhzEIF {
  background-color: transparent;
  height: auto;
  left: 150px;
  letter-spacing: 0.00px;
  line-height: 15px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spanvuysm-Nl8suW {
}

.story-in-detail-1 .rectangle-166-uXwUU8 {
  background-color: transparent;
  height: 100px;
  left: 54px;
  mix-blend-mode: normal;
  position: absolute;
  top: 3959px;
  width: 268px;
}

.story-in-detail-1 .incheon-is-a-really-uXwUU8 {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3979px;
  width: 200px;
}

.story-in-detail-1 .spana345u-igRwOP {
}

.story-in-detail-1 .enter-uXwUU8 {
  background-color: transparent;
  height: auto;
  left: 280px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3999px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .span7qdnw-BVcymX {
}

.story-in-detail-1 .enter-RYYxiB {
  background-color: transparent;
  height: auto;
  left: 303px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3367px;
  white-space: nowrap;
  width: auto;
}

.story-in-detail-1 .spanxwuzh-Y2fDOZ {
}

.story-in-detail-1 .group-115-uXwUU8 {
  background-color: transparent;
  height: 46px;
  left: 24px;
  position: absolute;
  top: 821px;
  width: 328px;
}

.story-in-detail-1 .icon_30_tag-uXwUU8 {
  background-color: transparent;
  height: 30px;
  left: 98px;
  position: absolute;
  top: 490px;
  width: 30px;
}

.story-in-detail-1 .group-125-uXwUU8 {
  background-color: transparent;
  height: 34px;
  left: 30px;
  position: absolute;
  top: 56px;
  width: 165px;
}

.story-in-detail-1 .coffinsight-vtcbzF {
  background-color: transparent;
  height: auto;
  left: 35px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 2px;
  width: auto;
}

.story-in-detail-1 .spanlzwuc-NRunGK {
}

.story-in-detail-1 .mask-group-vtcbzF {
  background-color: transparent;
  height: 30px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.story-in-detail-1 .coffinsight-footer-uXwUU8 {
  background-color: var(--white);
  height: 193px;
  left: -1px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 4206px;
  width: 375px;
}

.story-in-detail-1 .rectangle-94-22xd46 {
  background-color: transparent;
  height: 513px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 375px;
}

.story-in-detail-1 .insta-22xd46 {
  background-color: transparent;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 408px;
  width: 24px;
}

.story-in-detail-1 .rectangle-71-bmebi9 {
  background-color: var(--quincy);
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 24px;
}

.story-in-detail-1 .group-126-uXwUU8 {
  background-color: transparent;
  height: 32px;
  left: 65px;
  position: absolute;
  top: 4228px;
  width: 130px;
}

.story-in-detail-1 .coffinsight-qkt34N {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.story-in-detail-1 .spanasezb-lg1Eqo {
}

.story-in-detail-1 .mask-group-uXwUU8 {
  background-color: transparent;
  height: 30px;
  left: 174px;
  position: absolute;
  top: 2819px;
  width: 29px;
}

.story-in-detail-1 .mask-group-RYYxiB {
  background-color: transparent;
  height: 17px;
  left: 139px;
  position: absolute;
  top: 3860px;
  width: 16px;
}

.story-in-detail-1 .mask-group-1pVFDd {
  background-color: transparent;
  height: 30px;
  left: 24px;
  position: absolute;
  top: 4228px;
  width: 29px;
}
